@import url("./font-awesome/css/font-awesome.min.css");
@import url("./glyphicons/glyphicons-halflings.css");
@import url("./howell.font/howell.font.css");
@import url("./material-icon/material-icon.css");
@import url("./materialdesignicons/css/materialdesignicons.min.css");
@import url("./themify-icons/themify-icons.css");

@font-face {
  font-family: "Source Han Sans CN Normal";
  src: url("Source Han Sans CN Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}