@import url("./howell-button.css");

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  font-family: "Source Han Sans CN Normal";
}

iframe {

  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}


.logo {
  background-image: url("../images/howell.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}


.forms {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forms .form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.forms .form-item .form-item-title {
  width: 100px;
  white-space: nowrap;
  flex-grow: 0;
}

.forms .form-item .form-item-value {
  width: calc(100% - 100px);
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.forms .form-item .form-item-value.icon {
  display: flex;
  position: relative;
}

.forms .form-item.submit {
  margin-top: 20px;
}

input[type="checkbox"] {
  border-radius: 0.25rem;
  height: 20px;
  width: 20px;
  outline: none;
  border: 2px solid #cbcbcb;
  margin: 0;
}

input[type="checkbox"]:checked {
  border-radius: 0.25rem;
}

input[type="datetime-local"],
input[type="text"],
input[type="number"],
input[type="password"],
select,
textarea {
  outline: none;
  border: 1px solid #7f7f7f;
  border-radius: 0.25rem;
  color: #333;
  height: 30px;
  padding: 4px 10px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.4s ease 0s;
  margin: 0;
}

input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
select:disabled {
  background-color: #eee;
}

input[type="text"]:disabled:hover,
input[type="number"]:disabled:hover,
input[type="password"]:disabled:hover,
select:disabled:hover {
  border-color: #cbcbcb;
}

select.text {
  appearance: none;
  opacity: 1;
  padding: 4px 10px;
}


input[type="text"]+i[class^="howell-icon-"] {
  position: absolute;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  width: 23px;
  right: 0;
  text-align: center;
  pointer-events: none;
}

input+label {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

select {
  padding: 4px 6px;
}

select option {
  font-size: 16px;
  padding: 20px;
  line-height: 30px;
}


input:hover,
select:hover,
textarea:hover {
  border-color: #2d76ce;
}


.title-1 {
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  vertical-align: middle;
}





.input-button {
  display: flex;
  white-space: nowrap;
  border: 1px solid #7f7f7f;
  border-radius: 2px;
}

.input-button input {
  border: none;
  border-radius: unset;
}

.input-button button {
  border: none;
  border-left: 1px solid #7f7f7f;
  width: 100px;
  cursor: pointer;
}

.input-checkbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.input-checkbox .input-checkbox-text {
  white-space: nowrap;
}